services:
  api.note.me:
    container_name: api.note.me
    build:
      context: ..
      dockerfile: .docker/backend.dockerfile
    ports:
      - "3000:3000"
    volumes:
      # Montamos apenas a pasta do backend para manter o hot-reload
      - ../backend:/api
      # Evita que o node_modules local sobrescreva o do container
      - /api/node_modules
    
  app.note.me:
    container_name: app.note.me
    build:
      context: ..
      dockerfile: .docker/frontend.dockerfile
    ports:
      - "5173:5173"
    volumes:
      # Montamos apenas a pasta do frontend
      - ../frontend:/app
      - /app/node_modules
    depends_on:
      - "api.note.me"
